{% extends 'base.html' %}

{% block content %}

<header>

  <br>
  <a href="/"><img src="https://img.favpng.com/3/11/25/film-reel-royalty-free-clip-art-png-favpng-ZJ1qxTYJZ4ZmM9LasGM7m5bSz.jpg" alt="PalauteTuholaiset-logo" width=50%></a>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <br>
    <strong>Tiedoksesi: </strong> {{ message }}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
      <h2>Olet onnistuneesti kirjautunut sisään.</h2>
    {% else %}
    {% endif %}
    <p>
    <h1>Tervetuloa Palautetuholaisten sivuille!</h1>
    </p>

</header>

<div id="framecontainer1">
  <div id="frameleftupper">
    <div>
      <p class="framep center">
        <nav>
          <center>
          <p><b>Web-ohjelmointi</b></p>
          <p>Aleksi Bovellan<BR>Satu Pohjonen<BR>Robin Selenius</p>
          <p>INTIM21A6</p>
          </center>
        </nav>
      </p>
    </div>
  </div>

  <div id="framerightupper">
    <div>
        <p class="framep center">
          <section>
            <center>
            {% if user.is_authenticated %}

            <p>
            <h3>Siirry <a href="feedback">TÄSTÄ</A> elokuvien arvostelutietokantaamme.</h3>
            </p>
            <p>
            <button type="submit"> <a href="/signout"> Kirjaudu ulos</a></button>
            <p>
            {% else %}
            <p>
            <h2>Sinun on oltava kirjautunut sisään päästäksesi arvostelemaan surkeita elokuviamme.</h2>
            <button type="submit"> <a href="/signup"> Rekisteröidy</a></button>
            <button type="submit"> <a href="/signin"> Kirjaudu sisään</a></button>
            <P>
            {% endif %}
            <script src="" async defer></script>
            </center>
          </section>
        </p>
        <br>
    </div>
  </div>

</div> 

        <footer>
            <hr>
            <div>
                <p id="footerp">
                    Hämeen Ammattikorkeakoulu <a href="http://www.hamk.fi" title="HAMKin kotisivu"><u>HAMK</u></a> - INTIM21A6 - Web-ohjelmointi (2022)
                </p>
            </div>
        </footer>


{% endblock %}