{% extends 'base.html' %}

{% block content %}

<header>
    <h1>Kirjaudu Palautetuholaisiin</h1>
</header>
      
<nav>
    <p>Web-ohjelmointi</p>
    <p>Aleksi Bovellan<BR>Satu Pohjonen<BR>Robin Selenius</p>
    <p>INTIM21A6</p>
</nav>

<section>
    <form action="/signin" method="post">
    {% csrf_token %}
    <label for="">Käyttäjätunnus:    </label>
    <input type="text" id="username" name="username" placeholder="Kirjoita käyttäjätunnuksesi tähän" Required>
    <br>
    <label for="">Salasana:    </label>
    <input type="password" id="pass1" name="pass1" placeholder="Kirjoita salasanasi tähän"Required>
    <br><br>      
    <button type="submit">Kirjaudu</button>
    <script src="" async defer></script>
</section>

{% endblock %}