
{% extends 'base.html' %}

{% block content %}

<header>

  <br>
  <a href="/"><img src="https://img.favpng.com/3/11/25/film-reel-royalty-free-clip-art-png-favpng-ZJ1qxTYJZ4ZmM9LasGM7m5bSz.jpg" alt="PalauteTuholaiset-logo, klikkaa tätä palataksesi etusivulle" width=50%></a>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <br>
        <strong>Tiedoksesi: </strong> {{ message }}
    </div>
    {% endfor %}
    <p>
    <h1>Kirjaudu Palautetuholaisiin</h1>
    </p>

</header>

<div id="framecontainer1">
  <div id="frameleftupper">
    <div>
      <p class="framep center">
        <nav>
          <center>
          <p><b>Web-ohjelmointi</b></p>
          <p>Aleksi Bovellan<BR>Satu Pohjonen<BR>Robin Selenius</p>
          <p>INTIM21A6</p>
          </center>
        </nav>
      </p>
    </div>
  </div>

  <div id="framerightupper">
    <div>
        <p class="framep center">
            <section>
                <p>
                    <center>
                    <form action="/signin" method="post">
                    {% csrf_token %}
                    <table>
                        <center>
                        <tr>
                        <td><center>
                        <label for="">Käyttäjätunnus:    </label></center></td></tr>
                        <tr><td>
                        <input type="text" id="username" name="username" placeholder="Kirjoita käyttäjätunnuksesi tähän" Required>
                        </td></tr>
                        <tr><td>
                        <center><label for="">Salasana:    </label></center>
                        </td></tr>
                        <tr><td>
                        <input type="password" id="pass1" name="pass1" placeholder="Kirjoita salasanasi tähän"Required>
                        </td>
                        </tr>
                        </center>
                    </table>
                    <p>
                    <br>      
                    <button type="submit">Kirjaudu</button>
                    <script src="" async defer></script>
                    </p>
                    <p>
                        <BR>
                        <a href="/">Palaa pääsivulle</a>
                    </p>
                    </center>
                </p>
            </section>
        </p>
        <br>
    </div>
  </div>

</div> 

<footer>
    <hr>
    <div>
        <p id="footerp">
            Hämeen Ammattikorkeakoulu <a href="http://www.hamk.fi" title="HAMKin kotisivu"><u>HAMK</u></a> - INTIM21A6 - Web-ohjelmointi (2022)
        </p>
    </div>
</footer>


{% endblock %}