{% extends 'base.html' %}

{% block content %}

<header>

    <br>
    <a href="/"><img
            src="https://img.favpng.com/3/11/25/film-reel-royalty-free-clip-art-png-favpng-ZJ1qxTYJZ4ZmM9LasGM7m5bSz.jpg"
            alt="PalauteTuholaiset-logo, klikkaa tätä palataksesi etusivulle" width=50%></a>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <br>
        <strong>Tiedoksesi: </strong> {{ message }}
    </div>
    {% endfor %}
    <p>
    <h1>Rekisteröidy Palautetuholaisiin!</h1>
    </p>

</header>

<div id="framecontainer1">
    <div id="frameleftupper">
        <div>
            <p class="framep center">
            <nav>
                <center>
                    <p><b>Web-ohjelmointi</b></p>
                    <p>Aleksi Bovellan<br>Satu Pohjonen<br>Robin Selenius</p>
                    <p>INTIM21A6</p>
                </center>
            </nav>
            </p>
        </div>
    </div>

    <div id="framerightupper">
        <div>
            <p class="framep center">
            <section>
                <p>
                    <center>
                        <form action="/signup" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>
                                        <label for=""><b>Käyttäjätunnuksesi:</b> </label>
                                    </td>
                                    <td>
                                        <input type="text" id="username" name="username"
                                            placeholder="Käyttäjätunnus (vain kirjaimia)" required>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label for=""><b>Etunimi:</b> </label>
                                    </td>
                                    <td>
                                        <input type="text" id="fname" name="fname" placeholder="Kirjoita etunimesi"
                                            Required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for=""><b>Sukunimi:</b> </label>
                                    </td>
                                    <td>
                                        <input type="text" id="lname" name="lname" placeholder="Kirjoita sukunimesi"
                                            Required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for=""><b>Email:</b> </label>
                                    </td>
                                    <td>
                                        <input type="email" id="email" name="email"
                                            placeholder="Kirjoita sähköpostiosoitteesi" required>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label for=""><b>Salasana:</b> </label>
                                    </td>
                                    <td>
                                        <input type="password" id="pass1" name="pass1" placeholder="Kirjoita salasanasi"
                                            Required>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label for=""><b>Vahvista salasanasi:</b> </label>
                                    </td>
                                    <td>
                                        <input type="password" id="pass2" name="pass2" placeholder="Vahvista salasanasi"
                                            Required>
                                    </td>

                                </tr>
                            </table>
                            <p>
                                <br>
                                <button type="submit">Rekisteröidy</button>
                                <script src="" async defer></script>

                            </p>

                            <p>
                                <br>
                                <a href="/">Palaa pääsivulle</a>
                            </p>
                    </center>
                </p>
            </section>
            </p>
        </div>
    </div>

</div>


{% endblock %}