{% extends 'base.html' %}

{% block content %}

<header>
        <h1>Palautetuholaisten kansainvälinen tietokanta</h1>
        <h2>Anna elokuville jokin arvosana 1 ja 5 tähden väliltä.</h2>
</header>

<nav>
        <p>Web-ohjelmointi</p>
        <p>Aleksi Bovellan<BR>Satu Pohjonen<BR>Robin Selenius</p>
        <p>INTIM21A6</p>
</nav>

<section>
        {% if user.is_authenticated %}
        <center>
        <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value="Submit">
        </form>
        </center>
        <br><br>
        <button type="submit"> <a href="/signout"> Kirjaudu ulos</a></button>
        {% else %}
        <h4>Sinun on oltava kirjautunut sisään päästäksesi arvostelemaan surkeita elokuviamme.</h4>
        <button type="submit"> <a href="/signup"> Rekisteröidy</a></button>
        <button type="submit"> <a href="/signin"> Kirjaudu sisään</a></button>
        {% endif %}
        <script src="" async defer></script>
</section>

{% endblock %}